body{
    font-family: Arial,sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #bebdbd;/*fondo gris claro*/
}
header{
    background-color:#007BFF;/*azul brillante*/
    color: rgb(250, 250, 250);
    padding: 20px;
    text-align: center;
    position: relative;/*para posicionar el logo*/
}
header h1{
margin: 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-weight: bold;/*texto en negrita*/
}
nav ul li a :hover{
    color: #F0F0F0;/*color a pasar el mouse*/
    text-decoration: underline;/*subrayado al pasar el mouse*/
}
main{
    padding: 20px;
}
section{
    background-color: rgb(0, 0, 0);/*fondo negro para las secciones*/
    border-radius: 8px;/*bordes redondeados*/
    box-shadow: 0 2px 5px rgba (0, 0, 0, 0.2);/*sombra suave*/
    margin-bottom: 40px;
    padding: 20px; /*espaciado interno*/
}
h2{
    color: #fcfcfd; /* el texto sera blanco*/
}
p{
    color: #007BFF;/*el texto de los parrafos sera azul brillante*/
    font-size: 1.1em;/*tamaño de fuente ligeramente mayor*/
}
footer{
    background-color: #333;/*fondo oscuro para el pie de pagina*/
    color: rgb(12, 12, 12);
    text-align:center;
    padding: 10px 0;
}
footer p{
    margin: 0;/*sin margin en el pie de pagina*/
}
/*estilos para imagenes*/
img{
    max-width: 100%;/*las imagenes no exceden el ancho del contenedor*/
    height: auto;/*mantiene la proporcion de la imagen*/
    border-radius: 8px;/*bordes redondiados para imagenes*/
}
/*efecto de scroll suave al hacer clic en enlaces de navegacion*/
html{
    scroll-behavior: smooth;
}